
essential/loader/

essential/libraries/

essential/avatar-cache/

essential/Essential (fabric_1.20.1).jar

essential/Essential (fabric_1.20.1).jar.meta

essential/version.json

.blinkload/

.fabric/

.mixin.out/

crash-reports/

csearcher_cache/

frozenlib_cape_cache/

logs/

modernfix/

resourcepacks/.DS_Store

mods/.DS_Store

usercache.json

servers.dat_old

patchouli_data.json

datapacks/.DS_Store

Distant_Horizons_server_data/

saves/

shaderpacks/.DS_Store

.DS_Store

emi.json

imm_ptl_state.json

irisUpdateInfo.json

usernamecache.json

server/

rhino.local.properties

screenshots/
